<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Mia Pizzeria</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/La_Mia_Pizzeria_1.styles.css" asp-append-version="true" />
</head>
<body class="m-auto bg-light">
    <nav class="navbar navbar-expand-lg bg-dark sticky-top">
        <div class="container-xxl">
            <a class="navbar-brand text-white" asp-area=" " asp-controller="Pizza" asp-action="Index">
                <img src="https://seeklogo.com/images/P/pizza-logo-42816D88BE-seeklogo.com.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                La Mia Pizzeria
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-success" href="@Url.Action("Create", "Pizza")">Aggiungi nuova pizza </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="@Url.Action("Categorie", "Categorie")"> Modifica o aggiungi categoria </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" aria-current="page" href="@Url.Action("Index", "Pizza")">Admin</a>
                    </li>
                    <!-- code omitted -->
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    
    <footer class="border-top footer text-muted">
        <div class="text-center mt-2 mb-4">
            &copy; 2023 - La Mia Pizzeria 
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
