@model PizzaCtegorieView

<div class="container mt-4">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label>Nome:</label>
            <input asp-for="Pizza.Nome" type="text" class="form-control"/>
            <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Descrizione:</label>
            <textarea asp-for="Pizza.Descrezione" rows="10" class="d-block w-100"></textarea>
            <span asp-validation-for="Pizza.Descrezione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Prezzo in € :</label>
            <input asp-for="Pizza.Prezzo" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Categoria:</label>
            <select asp-for="Pizza.CategoriaId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Categoria category in Model.Categorias)
                {
                        <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Pizza.CategoriaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Ingredienti:</label>
            <select asp-for="IngredientisSelectedFromMultipleSelect" asp-items="@Model.Ingredientis" multiple size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
            </select>
        </div>
        <div class="mb-3">
            <label>Path Immagine:</label>
            <input asp-for="Pizza.Foto" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Foto" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Salva</button>
    </form>
</div>