@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli post</h1>
            </div>
                


                <img class="mw-100"src="@Model.Foto" alt="PizzaMargherita" />
                

            <p>
                <strong>Nome:</strong>
                @Model.Nome
            </p>
            <p>
                <strong>Descrezione:</strong>
                @Model.Descrezione
            </p>
            <p>
                <strong>Prezzo:</strong>
                @Model.Prezzo <span>€</span>
            </p>
        </div>
    </div>
</div>